<div *ngIf="!editMode">
    <!-- This one is for viewing a pet-->
    {{ThePet.name}} is a {{ThePet.species}}, born {{ThePet.born}}
    <button (click)="goToEditMode()">Edit</button>
    <button (click)="deleteName()">Delete</button>
</div><br>
<div *ngIf="editMode">
    <!-- This one is for editing a pet -->
    <input type="text" placeholder="name" [(ngModel)]="editName"><br>
    <input type="text" placeholder="species" [(ngModel)]="editSpecies"><br>
    <input type="number" placeholder="born" [(ngModel)]="editBorn"><br><br>
    <button (click)="save()">Save</button>
    <button (click)="cancel()">Cancel</button>
</div>